body{
    background-color: #fff; 
    background-size: 400% 400%;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-animation: Gradient 10s ease infinite;
    -moz-animation: Gradient 10s ease infinite;
    animation: Gradient 10s ease infinite;
    text-align: center;
    color: #444; 
  }

.card-body a {
  text-decoration: none; 
  font-size: 15px; 
  color: #555
}
h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 40px;
  text-align: center; 
  font-weight: 700;
  text-transform: capitalize;
}
h2 {
  font-size: 20px;
}
h5 {
  text-transform: capitalize;
  margin-top: -15px; 
  font-size: 15px; 
}
.padding-right {
  padding-right: 120px;
}


.sub-heading{
  margin-top: -10px; 
  font-size: 12px;
line-height: 16px;
font-weight: 700;
text-transform: uppercase;
  }
  p.small  {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
  }
  
  @-webkit-keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
  
    50% {
      background-position: 100% 50%
    }
  
    100% {
      background-position: 0% 50%
    }
  }
  
  @-moz-keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
  
    50% {
      background-position: 100% 50%
    }
  
    100% {
      background-position: 0% 50%
    }
  }
  
  @keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
  
    50% {
      background-position: 100% 50%
    }
  
    100% {
      background-position: 0% 50%
    }
  }
.navbar-brand {
  max-width: 200px; 
  height: auto; 
}
.header {
  height: 300px; 
  background-color: #fff; 
}
.header-content{
  width: 100%;  
  padding-top: 100px; 
  margin-top: 30px; 
  margin: auto; 
  height: 200px; 
}
.header-img {
  max-width: 500px; 
  height: auto; 
  margin-left: 300px;
}

.effects-container {
    margin-top: 20px; 
    width: auto; 
    margin: auto; 
    display: flex; 
    /* background-color: #fff; */
    padding: 40px 0px; 
    overflow: hidden;

}
.effects-container img {
    width: 100%;
    height: auto; 
    border-radius: 10px; 
}
.card {
    text-align: center; 
    background-color: transparent;
    padding: 15px; 
    float: left; 
    width: 60%; 
    border: none; 
    box-sizing: border-box;
}
.button {
  background-color: #00ff00;
    color: #fff;
    width: 100%; 
}
.button:hover {
    color: #777; 
   
}
footer {
  height: 80px; 
  clear: both;
  text-align: center; 
  width: 100%; 
}